@import url('https://fonts.googleapis.com/css?family=Cabin')

cr_primary=#A9E8DC
cr_sub=#0284A8
cr_min=#E1F7E7

html
  font-size: 10px
  font-family: 'Cabin', sans-serif
header, footer, section, details, aside, article, main, div, ul, ol, dl, h1, h2, h3, h4, h5, h6, p
  padding: 0
  margin: 0
body
  margin: 0 auto
  box-sizing: border-box
a
  text-decoration: none
ul
  list-style-type: none
  padding:0
  margin: 0
input, button
  appearance: none
  -webkit-appearance: none
  outline: none
  background: none
  border: none
  padding: none
  vertical-align: baseline
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
::-webkit-scrollbar
  width: 5px
  background: #eee
::-webkit-scrollbar-thumb
  background: cr_primary
button:hover, a:hover
  cursor: pointer
.btn
  margin-left: 0.5rem
  padding: 5px
  border: 1px solid cr_min

.header
  .btn
    color: #eee
    &:hover
      border: 1px solid cr_sub
      color: cr_sub

header.header
  z-index:9000
  background: cr_primary
  padding: 0 2%
  position: fixed
  top: 0
  left: 0
  right: 0
  h1
    color: #eee
    float: left
    margin:0
    padding: 20px 0
    font-size: 2rem
  .lists
    display: none
  .create
    float: right
    margin: 17px 0 0 4%
    color: #FFF
    font-size: 1.5rem
    &:before
      content:'\271a'
      padding-right: 0.5rem
  .filters
    float: left
    margin:0 5%
    li
      display: inline-block
      padding: 24px 0


body
    font-size: 1.4rem
    color: #333
main
  box-sizing: border-box
  aside
    position: fixed
    width: 16%
    top: 83px
    left: 0
    bottom: 0
    overflow-x: hidden
    overflow-y: auto
    ul
      li
        display: block
        font-size: 1.5rem
        margin: 7% 15%
        color: #666
        position: relative
        a
          color: #666
        button:after
          display: none
          cursor: pointer
          content:'\2715'
          position: absolute
          right: 0
          top: 0
          font-size: 1rem
          color: cr_sub
          &:hover:after
            display: inline
        &:hover
          button:after
            display: inline
            &:hover:after
              display: inline


  article
    line-height: 1.5
    padding:1% 2% 1% 4%
    margin-top: 83px
    margin-left: 16%
    header
      position: relative
      h1
        font-size: 2rem
        margin: 0 0 15px 0
      .date
        font-size: 1.2rem
        color: #666
        margin-top: -15px
      .item-menu
        line-height: 2.3
        position: absolute
        right:0
        top:0
        & .btn:hover
          border: 1px solid cr_sub
        .remove:before, .edit:before, .copy:before
          color: cr_sub
          padding-right: 0.5rem
        .remove:hover:before, .edit:hover:before, .copy:hover:before
          color:cr_sub
        .remove:before
          content:'\2716'
        .edit:before
          content: '\270e'
        .copy:before
          content: '\2925'

    p
      margin: 15px 0
    a
      color: cr_sub
    img
      padding: 0 5px
    ul
      list-style-type: circle
      margin-left: 17px
    ol
      list-style-type: decimal-leading-zero
      margin-left: 17px

    pre, code
        overflow-x: auto
    code
      display:block
      font-family: Consolas, Courier New, monospace;
      color: #888
      border-left: 1px solid cr_min

body:before
  background: #FFF
  content: ''
  top: 63px
  left: 0
  right: 0
  height: 20px
  position: fixed
  z-index:9000


@media (max-width: 600px)
  header.header
    .lists
      display: block
      float: right
      margin: 17px 0 0 15px
      color:#FFF
      font-size: 1.5rem
      &:before
        content: '\274f'
        padding-right: 0.5rem
    .filters
      display: none
  main
    aside.active
      position: absolute
      top: 0
      left: 0
      // bottom: 0
      width: 70%
      background:#FFF
      z-index: 9999
      height: auto
      bottom: auto
      border-right: 10px solid cr_primary
      box-shadow: 2px 0 6px 9999px rgba(0, 0, 0, 0.5);
    aside
      display: none
    article
      margin-left: 0
