@import url('https://fonts.googleapis.com/css?family=Cabin')

cr_primary=#A9E8DC
cr_text_primary=#02BEC4
cr_sub=#0284A8
cr_min=#E1F7E7
cr_text=#273F5E
cr_danger=#F7301B
html
  font-size: 10px
  font-family: 'Cabin', sans-serif
header, footer, section, details, aside, article, main, div, ul, ol, dl, h1, h2, h3, h4, h5, h6, p
  padding: 0
  margin: 0
body
  margin: 0 auto

body *
  box-sizing: border-box
a
  text-decoration: none
ul
  list-style-type: none
  padding:0
  margin: 0
input, button
  appearance: none
  -webkit-appearance: none
  outline: none
  background: none
  border: none
  padding: none
  vertical-align: baseline
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
body
  font-size: 1.4rem
  color: #333
code
  font-family: 'Source Code Pro',Consolas, monospace
  color: #666
  border-left: 1px solid cr_sub
  background: #eee
  overflow: auto
::-webkit-scrollbar
  width: 10px
  background: transparent
::-webkit-scrollbar-thumb
  background: cr_primary
  width: 12px

button:hover, a:hover
  cursor: pointer
a
  color: cr_sub
.btn
  font-size: 14px
  color: cr_text_primary
  display: block
  text-align: center
  border: 1px solid cr_primary
  padding: 1rem 0
  &:hover
    border: 1px solid cr_text_primary
body:before
  background: #FFF
  content: ''
  top: 63px
  left: 0
  right: 0
  height: 20px
  position: fixed
  z-index:9000
header.header
  z-index:9000
  background: cr_primary
  padding: 0 24px
  position: fixed
  top: 0
  left: 0
  right: 0
  .logo
    color: #eee
    float: left
    margin:0
    padding: 20px 0
    font-size: 2rem

aside
  padding: 0 15px 24px
  position: fixed
  width: 216px
  top: 83px
  bottom: 0
  overflow-x: hidden
  overflow-y: auto

.tree-container
  overflow: auto
  left: 0
  .create
    margin: 12px 0 1.5rem 0
.tree
  li
    display: block
  .sub-node li
    display: none
  .expanded > .sub-node > .tree > li
    display: block
  .item-title.selectedFolder
      border-bottom: 1px solid cr_text_primary

  a
    color: #333
    display: block
    padding: .5rem 0
    margin: 0 0 0 1.5rem
  .item-title
    border-bottom: 1px solid transparent
    overflow: hidden
    .folder-control
      display: none
      float: right
    .rename-folder, .create-sub, .remove-folder
      color: cr_text_primary
      margin: auto 5px
      font-style: normal
    .create-sub:after
      content: '\1F4C1'
    .rename-folder:after
      content: '\270F'
    .remove-folder:after
      content: '\2715'
    &:hover
      .folder-control
        display: inline-block
      border-bottom: 1px solid cr_text_primary

  .sub-node
    margin: 0 0 0 1.5rem
  .tree-node
    position: relative
  .expandable > .tree-node
    &:before
      color: cr_sub
      padding: .5rem 0
      position: absolute
      top: 0
      bottom: 0
      left: 0
      content: '\1F4C1'
  .expanded > .tree-node
    &:before
      content: '\1F4C2'

.list-container
  left: 215px
  .search
    margin: 12px 0 1.5rem 0
    border: 1px solid cr_primary
    input
      font-size: 14px
      color: cr_text_primary
      display: inline-block
      text-align: left
      width: 144px
      padding: 1rem 0
    &:hover
      border: 1px solid cr_text_primary
    button
      padding: 0
      margin: 0
    button:before
      color: cr_text_primary
      content: '\1F50D'
      font-size: 14px
      padding: 1rem 0.5rem
      display: inline-block
  li
    display: block
    padding: 0.5rem 0
    position: relative
    border-bottom: 1px solid transparent
    .remove-item
      display: none
      padding: 0
      margin: 0

      &:after
        color: #F7301B
        height: 1rem
        font-size: 1rem
        line-height: 1
        padding: 0
        margin: 0
        content: '\2715 Remove'
    &:hover
      border-bottom: 1px solid cr_text_primary
      .create-date
        display: none
      .remove-item
        display: inline-block
  .selectedNote
    border-bottom: 1px solid cr_text_primary
  a
    font-size: 1.5rem
    color: #333
    margin-right: 12px
    max-width: 59%
    float: left
    display: block
    overflow: hidden
    text-overflow:ellipsis
    white-space: nowrap


  .create-date
    font-size: 10px
    display: inline-block

.content-container
  padding: 0 36px
  margin: 83px 0 0 432px
  min-width: 500px
  .btn
    display: inline-block
    padding: 1rem 1rem
    &:before
      padding: 0 3px 0 0
      display: inline-block
  header
    position: relative
    h1
      padding: 1rem 0
    .control
      position: absolute
      top: 1rem
      right: 0
      .edit:before
        content: '\270f'
        transform: rotate(45deg)
      .remove:before
        content: '\2326'
      .copy:before
        content: '\2398'
  .content-body
    h1, h2, h3, h4, h5, h6
      margin:  0 0 1rem 0
    ul, ol, dl
      margin: 0 0 1.5rem 1.5rem
    ul
      list-style-type: circle
    ol
      list-style-type:lower-roman
    p
      margin: 1rem 0
    a
      color: cr_text_primary

.editor
  .editor-control
    position: relative
    overflow: hidden
    margin-bottom: 2rem
    .select
      width: 50%
      float: left
      position: relative
      &:after
        content: ''
        position: absolute
        top: 42%
        right: 5%
        width: 0
        height: 0
        border-style: solid
        border-width: 5px 5px 0 5px
        border-color: cr_text_primary transparent transparent transparent
    .select-folder
      -webkit-appearance: none
      color: cr_text
      border: 1px solid cr_primary
      width: 100%
      display: inline-block
      padding: 1rem 3px
      outline: none
    .editor-menu
      float: right

  textarea
    width: 100%
    outline: none

.content-container
  .editor
    display: none
.content-container.edit
  .editor
    display: block
    .editor-control
      padding: 1rem 0 0 0
  .content
    display: none

.overlay
  &:after
    content: ''
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: #333
    opacity: .7
    z-index: -1000
  display: none
  position: fixed
  width: 100%
  padding: 1rem
  top: 20%
  left: 0
  text-align: center
  z-index: 9999
  .box
    position: relative
    padding: 1rem
    text-align: left
    background: #FFF
    width: 30%
    margin: 0 auto
    border-radius: 2px
    .control
      float: right
  input
    border: 1px solid cr_text_primary
    padding: 1rem
    margin: 0 auto
  .btn
    display: inline-block
    padding: 1rem 1rem
.overlay.active
  display: block

.overlay.error
  input
    border: 1px solid cr_danger
